registry=https://registry.npmmirror.com/
disturl=https://npmmirror.com/dist
electron_mirror=https://npmmirror.com/dist/electron/
chromedriver_cdnurl=https://npmmirror.com/dist/chromedriver
binary_mirror=https://npmmirror.com/dist
sass_binary_site=https://npmmirror.com/dist/node-sass/
sharp_binary_host=https://npmmirror.com/dist/sharp/
sharp_libvips_binary_host=https://npmmirror.com/dist/libvips/

# pnpm配置
pnpm.registry=https://registry.npmmirror.com/
pnpm.package-import-method=copy
